@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis';
}

.wrapper {
  background: linear-gradient(180deg,   #278787, #252525, #252525, #278787);
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: backgroundTransition 8s ease-in-out infinite;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}
.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  padding: 1rem 4rem;
  border: 1px solid #fff;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
  color: #252525;
  background-color: #fff;
}

/*  menu hamburguer */
  #checkbox-menu{
    opacity: 0;
  }
.center {
  top: 5px;
  right: 5px;  
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  z-index: 9999;
}

.center:before,
.center:after,
.center div {
  background: rgb(49, 53, 58);
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
#checkbox-menu:checked + label .center:before {
  transform: translateY(14px) rotate(135deg);
}
#checkbox-menu:checked + label .center:after {
  transform: translateY(-12px) rotate(-135deg);
}
#checkbox-menu:checked + label .center div {
  transform: translateY(-40px) rotate(-90deg);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}
/* menu morphing */
.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background: transparent;
  height: 0px;
  width: 0px;
  border-radius: 80%;
  box-shadow: 0px 0px 0px 0px white;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items ul li a {
  margin: 10px 0;
  color: #252525;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
  }

  .menu-items ul li a:hover {
    color: #237075;
    text-decoration: underline;
  }

#checkbox-menu:checked ~ .menu {
  box-shadow: 0px 0px 0px 90vmax white;
  z-index: 1;
}


#checkbox-menu:checked ~ .menu-items{
  visibility: visible;
  opacity: 1;
}
